*{
  font-family: 'Jua', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}
body, ul, li{
  margin: 0;
  padding: 0;
}

.wrapper{
width: 100%;

margin:0 auto;
}

a {
  text-decoration: none;
  font-family: 'Oswald';
  color: white;
}

a:hover { 
   color: black;
}

header {
  background: #eee;
  padding: 20px 0; 
}

.logo{
float: left;
margin: 0 auto;
width: 70px;
height: 70px;
padding-left: 16px;
}
.logo img{
  width: 100%;
}

header nav{
  float: right;
  padding-right: 20px; 
}

header:after{
  display: block;
  content: "";
  clear: both;
}

header nav li{
list-style-type: none;
float: left;
margin-left: 20px;
padding: 8px 0;
margin-top: 18px;
}

header nav li a{
text-decoration: none;
color: #4e4e4e;
text-transform: uppercase;
font-weight: bold;
}

#main-banner img{
  width: 100%;
  height: 80vh;
}

#main-banner{
  max-height: 60vh;
  overflow: hidden;
  
}
#main-banner h1{
  font-size: 66px;
  color: #87f064;
  position: absolute;
  font-weight: 900;
   font-family: 'Oswald';
  top: 30vh;
  left:49vw;
  text-align: center;
  -webkit-text-stroke: .4px #4e4e4e;
}

#main-banner button{
  border-radius: 10px 10px;
  padding: 11px 30px;
  margin-top: 18px;
  background-color: #4e4e4e;
  color: white;
  position: absolute;
   font-family: 'Oswald';
  top: 48vh;
  left:57vw;
}

#main-banner a{
  color: white;
  font-size: 17px;
}

#main-banner a:hover{
  color: #87f064;
}

#picks{
  margin-top: 60px;
  padding-left:3%;
}

.flip-container {  
  width: 100%;

}
 
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

 .front, .back {
  width: 350px;
  height: 300px;
}

.flipper {
  width: 300px;
  height: 320px;
  float: left;
  padding: 0 3%;
  transition: 0.7s;
  transform-style: preserve-3d;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: black;
}

.back {
  transform: rotateY(180deg);
  background-color: red;
}

#picks:after{
  display: block;
  content: "";
  clear: both;
}

#top-sellers{
  padding-top: 30px;
  margin-top: 30px;
  border-top: 2px solid #e4e4e4;
  padding-left: 25px;
}

#top-sellers h2{
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}


#top-sellers li{
  width: 28%;

  float: left;
  list-style-type: none;
  margin: 0 2%;  
  transition: transform .2s ease-in;
}
#top-sellers img{
  width: 100%;
  height: 400px;
  

}
#top-sellers:after{
  display: block;
  content: "";
  clear: both;
}
#top-sellers h3, p{
  margin-top: 2%;
  margin-bottom: 2%;
}
#top-sellers button{
  border-radius: 10px 10px;
  padding: 5px 15px;
  background-color: #4e4e4e;
  color: white;
  font-size: 13px;
   font-family: 'Work Sans';
}

#top-sellers button:hover{
  background-color: #87f064;

}
#top-sellers li:hover{
  transform: scale(1.02);
}

#coming-banner{
  width: 100%;
  margin-top: 80px;
  padding-top: 2%;
  border-top: 2px solid #e4e4e4;
  display: flex;
  justify-content: center;
}

#coming-banner img{
  width: 95%;
  -webkit-box-shadow: 11px 10px 25px -5px rgba(0,0,0,0.69);
-moz-box-shadow: 11px 10px 25px -5px rgba(0,0,0,0.69);
box-shadow: 11px 10px 25px -5px rgba(0,0,0,0.69);
transition: transform .2s ease-in;
}

#coming-banner img:hover{
  transform: scale(1.01);
}

footer{
  background: #202020;
  padding: 25px 15px;
  margin-top: 50px;
  border-top: 10px solid #151515;
  font-family: 'Work Sans', sans-serif;
}

footer h4{
  margin: 0;
  color:#555;
  text-transform: uppercase;
  font-size: 17px;

}

footer ul{
  float: left;
  width: 25%;
  list-style-type: none;
  margin-bottom: 2%;
}

footer{
  content: "";
  display: block;
  clear: both;
}

footer li{
  color: #aaa;
  width: 80%;
  margin: 3px 0;
  font-size: 14px;
  line-height: 1.5em;
}

.tw{
padding-left: 20px;
background: url(../img/tweet.png) no-repeat left 6px;
}

#copyright{
  clear: both;
  padding-top: 30px;
  margin-top: 30px;
 
  width: 100%;
  border-top: 2px solid #333;
  color: #999;
  font-size: 14px;
}

/*products.html*/
#catalog h2{
  font-size: 35px;
  font-weight: 900;
  font-family: 'Oswald';
  padding:2%; 
}

aside{
   display: flex;
   float: left;
   height: 1000px;
   padding-right: 10px;
}

#products{
  padding-top: 15px;
}

#products h2{
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
}


#products li{
  width: 15%;
  float: left;
  list-style-type: none;
  margin: 1.1%;  
  transition: transform .2s ease-in;
}
#products img{
  width: 100%;
  height: 250px;
  align-items: center;
}
#products:after{
  display: block;
  content: "";
  clear: both;
}
#top-sellers h3, p{
  margin-top: 2%;
  margin-bottom: 2%;
}
#products button{
  border-radius: 10px 10px;
  padding: 5px 15px;
  background-color: #4e4e4e;
  color: white;
  font-size: 13px;
   font-family: 'Work Sans';
}

#products button:hover{
  background-color: #87f064;

}
#products li:hover{
  transform: scale(1.02);
}

/*contact*/

  .contact-footer{
width: 100%;
margin: 0;
  background: #202020;
  padding: 25px 15px;
  border-top: 10px solid #151515;
  font-family: 'Work Sans', sans-serif;
}

.contact-footer h4{
  margin: 0;
  color:#555;
  text-transform: uppercase;
  font-size: 17px;

}

.contact-footer ul{
  float: left;
  width: 25%;
  list-style-type: none;
  margin-bottom: 2%;
}

.contact-footer{
  content: "";
  display: block;
  clear: both;
}

a {
     font-family: 'Work Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
    font-family: 'Work Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100vw;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100vw;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../img/o-GERMAN-PUG-RACES-facebook.jpg);
  background-position: cover;
  background-repeat: no-repeat;
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  opacity: .90;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
     font-family: 'Work Sans';
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

     font-family: 'Work Sans';
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

    font-family: 'Work Sans';
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-color: #202020; 
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: 'Work Sans';
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 400px) {
  .wrap-contact2 {
    padding: 72px 5px 90px 5px;
    }
    .container-contact2{}
      width: 92vw;
      height: 100%;
    }
}




@media(max-width:650px){
  .wrapper{
    width: 100%;
  }

.logo{
float: left;
margin: -12px 41%;
width: 70px;
height: 70px;
padding-left: 16px;
}


header nav{
  float: right;
  padding-right: 33%; 
}

#main-banner img{
  max-width: 100%;
  height: auto;
}

#main-banner{
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

#main-banner h1{
  top:27vh;
  left:43vw;
  font-size: 3.2rem;
  text-align: center;
}

#main-banner button{
   top: 46vh;
  left:56.5vw;
}

#picks{
display: none;
}

#top-sellers li{
  width: 29%;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0 2%;  
  transition: transform .2s ease-in;
}
#top-sellers img{
  width: 100%;
  height: auto;
}

#top-sellers a{
  color: white;
  font-size: 12px;
}
#coming-banner img{
 display: none;
}

footer{
  display: grid;
  grid-gap: 20px;
}

footer ul{
  width: 45%; 
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 3%;
}

footer li{
    display: flex;
  flex-direction: column;

 
  }










}

@media(max-width:400px){
  .wrapper{
    width: 100%;
  }

.logo{
float: left;
margin: -12px 41%;
width: 70px;
height: 70px;
padding-left: 16px;
}


header nav{
  float: right;
  padding-right: 26%; 
}

#main-banner img{
  max-width: 100vw;
  height: auto;
}

#main-banner{
  width: 100%;
  max-height: auto;
  overflow: hidden;
}

#main-banner h1{
  top:25vh;
  left:43vw;
  font-size: 2rem;
  text-align: center;
}

#main-banner button{
   top: 35vh;
  left:50vw;
  padding: 6px 15px;
}

#picks{
display: none;
}

#top-sellers li{
  width: 29%;
  float: left;
  display: block;
  list-style-type: none;
  margin: 0 2%;  
  transition: transform .2s ease-in;
}
#top-sellers img{
  width: 100%;
  height: 15vh;
}

#top-sellers h3{
  font-size: 13px;
}

#top-sellers a{
  color: white;
  font-size: 12px;
}

#coming-banner img{
  display: none;
}

footer{
  display: grid;
  grid-gap: 20px;
}

footer ul{
  width: 45%; 
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

footer li{
    display: flex;
  flex-direction: column;

 
  }

  /*product page*/

#catalog h2{
    margin-left: 35%;
    padding: 25px 0;
}

#catalog aside{
  display: none;
}

#products{
  padding-top: 15px;
  margin-left: 5%;
}

#products li{
  width: 40%;
  height: 50vh;
  float: left;
}
#products img{
  width: 100%;
  height: 250px;
}


}














